streamlit
langchain-core
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
langchain-text-splitters
chromadb
faiss-cpu
pypdf
docx2txt
unstructured[pptx]
python-magic
python-pptx
libmagic1
poppler-utils
tesseract-ocr
openpyxl
msoffcrypto-tool
beautifulsoup4
pinecone
langchain-pinecone
langchain-astradb
langchain-weaviate
weaviate-client

