streamlit
langchain-core
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
langchain-text-splitters
chromadb
faiss-cpu
pypdf
docx2txt
unstructured
python-pptx
openpyxl
msoffcrypto-tool
beautifulsoup4
pinecone
langchain-pinecone
langchain-astradb
langchain-weaviate
weaviate-client

